// This stylesheet is used to style the settings page of the plugin.

// Tabs
.ui-state-default {
	display: inline;
	border-color: rgb(204, 204, 204);
	border-width: 1px;
	border-style:solid;
	border-bottom-width: 0px;
	padding: 12px 0px;
	background: none repeat scroll 0% 0% rgb(228, 228, 228);
}

.ui-tabs-nav {
	padding-bottom: 9px;
	padding-left: 10px;
	border-bottom: 1px solid rgb(204, 204, 204);
}

.ui-tabs-anchor {
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	color: rgb(127, 127, 127);
	padding:10px;
}

.ui-tabs-anchor:hover,.ui-state-active a {
	color:black;
}

.ui-tabs-active, .ui-tabs-active:hover, .ui-tabs-active:active {
	color: rgb(0, 0, 0);
	background: rgb(239, 239, 239) !important;
}

// Settings page
.metabox-holder {
	.postbox {
		max-width:100%;
		h3 {
			padding-left: 10px;
		}
	}
}

.settings-tab {
	float:left;
}

.right-column-settings-page {
	max-width:270px;
	float:right;
}
