[submodule "plugin-name/admin/includes/CMBF"]
	path = plugin-name/admin/includes/CMBF
	url = https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress
[submodule "plugin-name/admin/includes/CMB"]
	path = plugin-name/admin/includes/CMB
	url = https://github.com/humanmade/Custom-Meta-Boxes
[submodule "plugin-name/admin/includes/CMBF-Select2"]
	path = plugin-name/admin/includes/CMBF-Select2
	url = https://github.com/mustardBees/cmb-field-select2
[submodule "plugin-name/includes/CPT_Core"]
	path = plugin-name/includes/CPT_Core
	url = https://github.com/jtsternberg/CPT_Core
[submodule "plugin-name/includes/Taxonomy_Core"]
	path = plugin-name/includes/Taxonomy_Core
	url = https://github.com/jtsternberg/Taxonomy_Core
[submodule "plugin-name/includes/Widget-Boilerplate"]
	path = plugin-name/includes/Widget-Boilerplate
	url = git@github.com:Mte90/WordPress-Widget-Boilerplate.git
[submodule "plugin-name/admin/includes/WP-Admin-Notice"]
	path = plugin-name/admin/includes/WP-Admin-Notice
	url = https://github.com/nathanielks/wordpress-admin-notice
[submodule "plugin-name/admin/includes/WP-Contextual-Help"]
	path = plugin-name/admin/includes/WP-Contextual-Help
	url = https://github.com/voceconnect/wp-contextual-help
