# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# WordPress Coding Standards
# https://make.wordpress.org/core/handbook/coding-standards/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
block_comment_start = /*
block_comment = *
block_comment_end = */

[{*.yml,*.neon}]
indent_style = space
indent_size = 2

[{composer.json,composer.lock,package.json}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[{wp-config-sample.php}]
end_of_line = crlf

[{LICENSE.txt,README.txt}]
indent_style = space
end_of_line = lf

[{/assets/build/**,/assets/src/block/*.json,/tests/_data/*.sql}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = space
indent_size = unset
