# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    # Void as typehints are available only on PHP 7.1+
    checkMissingIterableValueType: false
    paths:
        - ./
    excludePaths:
        - vendor/
        - tests/
        - node_modules/
    bootstrapFiles:
        # CMB2 is loaded in this file
        - tests/phpstan/bootstrap.php
        # WPBPGen{{#if libraries_wpbp__widgets-helper}}
        # Does not work in "scanFiles"
        - vendor/wpbp/widgets-helper/class.wph-widget.php
        # {{/if}}
    scanFiles:
        - plugin-name.php
        - uninstall.php
        # WPBPGen{{#if libraries_wpbp__i18n-notice}}
        - vendor/wpbp/i18n-notice/src/i18n-wordpressorg-v3.php
        # {{/if}}
        # WPBPGen{{#if libraries_freemius__wordpress-sdk}}
        - vendor/freemius/wordpress-sdk/start.php
        - vendor/freemius/wordpress-sdk/includes/class-freemius-abstract.php
        - vendor/freemius/wordpress-sdk/includes/class-freemius.php
        # {{/if}}
        - vendor/inpsyde/wp-context/src/WpContext.php
        // WPBPGen{{#if wpcli}}
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        # {{/if}}
    ignoreErrors:
        - '/^Parameter #1 \$var of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.$/'
# Not used in the boilerplate.
#        # Uses func_get_args()
#        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
#        # https://core.trac.wordpress.org/ticket/43304
#        - '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
#        # WP-CLI accepts a class as callable
#        - '/^Parameter #2 \$callable of static method WP_CLI::add_command\(\) expects callable\(\): mixed, \S+ given\.$/'
#        # WP-CLI stubs can be generated and included in "scanFiles:"
#        # https://github.com/szepeviktor/phpstan-wordpress/blob/master/stub-generators/wp-cli-generate-stubs.sh
#        - '#on an unknown class WP_CLI\.$#'
